<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Computing Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/uniList.js"></script>
    <!--
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
	  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="/javascripts/nv.d3.js"></script>
	  <script src="/javascripts/getDataUniv.js"></script>
	<link href="/stylesheets/nv.d3.css" rel="stylesheet" type="text/css">
	  <!--<script src="/javascripts/d3.v3.js"></script>-->
	  <!--read the university names from CSV -->
	  <script>
          d3.csv("/docs/univ_names.csv", function(data) {
              var select = d3.select("#myDropdown")

              select
                  .on("Click", function(d) {
                      var value = d3.select(this).property("value");
                      getData(value);
                  });

              select.selectAll("option")
                  .data(data)
                  .enter()
                  .append("a")
                  .attr("href",function (d) { return "#base"; })
                  .attr("onclick",function (d) { return "getData(\'"+d.university_code+"\');"; })
                  .text(function (d) { return d.university_name; });
          });
	  </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
  </head>

  <body>

 <div class="container example5">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img style="	width: 84px;" src="/images/tum-logo.png" alt="">
        	Cloud Computing Dashboard
        </a>
      </div>
      <div id="navbar5" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

</div>

<!--   	<div class="header">
  			                 	<div style="float:left;height:50px;width:50px;vertical-align: middle;margin-left: 5px;margin-top: -5px;">
	                 		<img src="/images/tum-logo.png">
	                 	</div>
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <div class="logo">
	                 <h1>
	                 	
	                 	<a href="index.html" style="margin-left:-70px;">Cloud Computing Dashboard</a>
	                 </h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	              <div class="row" style="float:right;margin-right: -200px;">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       <input type="text" class="form-control" placeholder="Search...">
	                       <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
	                  </div>
	                </div>
	              </div>
	           </div>
	           <div class="col-md-2" style="float:right;margin-right: -160px">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Profile</a></li>
	                          <li><a href="login.html">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div> -->






    <div class="page-content">
    	<div class="row">

		  <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                    
                    <!-- <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> University List
                            <span class="caret pull-right"></span>
                         </a>
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                   </li> -->
                   <div class="dropdownUni">
            					<button onclick="myFunction()" class="btn btn-primary"> <i class="glyphicon glyphicon-education"></i>  Universities </button>

            					  <div id="myDropdown" class="dropdown-contentUni" style="height: 500px; overflow-y: scroll; z-index: 300">
            					  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            					    <a href="#about" onclick="getData('UCLA');">University of California [UCLA]</a>
            					    <a href="#base">Irvine [UCI]</a>
            					    <a href="#base" onclick="getData('TUM');">Technical university Munich [TUM]</a>
            					    <!-- <option value="empty" selected>None</option>
            					    <option value="tum" >Technical university Munich [TUM]</option>
            					    <option value="ucla" >University of California [UCLA]</option>	 -->				    
            					  </div>
				          </div>
                  

                </ul>
             </div>
      </div>

		  <div class="col-md-10">

  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Employment Rate Masters</div>
					
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
  				<div class="panel-body">
  					<div id="barChart" style="height: 300px;overflow-y:scroll ">

  	</div>


  				</div>
  			</div>

  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Employment Rate Bachelors</div>
					
					<div class="panel-options">
						<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
  				<div class="panel-body">
  					<div id="b_barChart" style="height: 300px;overflow-y:scroll ">


  					</div>
  				</div>
  			</div>


  			<div class="row">
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Number of Students Masters</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  						<div id="chart" style="width:100%;height:450px">
									<svg id="test1" class="mypiechart" style="height:500px;"></svg>
								</div>

		  				</div>
		  			</div>
  				</div>
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Number of Students Bachelors</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  									<div id="chart2" style="width:100%;height:450px">
											    <svg id="test1" class="mypiechart" style="height:500px;"></svg>
											</div>
		  				</div>
		  			</div>
  				</div>
  			</div>

  			
		</div>

  </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
				&copy 2016 Cloud Computing
				<br>Designed and Developed by <a href='#'>Data_Analytics_Team</a>
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="vendors/morris/morris.css">
  
</body>
</html>
